<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Seinäjoki silloin kun synnyit</h1>
    <p>Valitse päivä</p>
        <form method="post">
            <label for="day">Päivä:</label>
            <input type="number" name="day" required>
            <label for="month">Kuukausi:</label>
            <input type="number" name="month" required>
            <label for="year">Vuosi:</label>
            <input type="number" name="year" required>
            <button type="submit">Katso</button>
        </form>
    {% if result %}
        <p>{{ result }}</p>
    {% endif %}

</body>
</html>